body{
  margin: 0;
  padding:0;
  background-color: #F6F6F6;
}
h2{
  text-align: center;
  position: relative;
  font-size: 2em;
  left: -2.5%;
  font-family: 'Rock Salt', cursive;
  color: #A2D9FF; 
  text-shadow: 1px 1px 3px rgba(233,60,75,0.4);
}
#app{
  width:55%;
  max-width: 500px;
  margin: 30px auto;
}
.X {
  color: #ED6268;
}
.O {
  color: #52C2EB;
}
.tile::before{
  display: block;
  content: "";
  height: 50%;
}
.tile span{
  vertical-align: top;
  line-height: 0;
}
.tile{
  font-family: 'Rock Salt', cursive;
  vertical-align:top;
  text-align: center;
  font-size: 2.5em;
  display: inline-block;
  width: 30%;
  height: 20vw;
  max-height: 200px;
  background-color: white;
}
._4{
  border: 1px solid rgba(0,0,0,0.5);
}
._1, ._7{
  border-left: 1px solid rgba(0,0,0,0.5);
  border-right: 1px solid rgba(0,0,0,0.5);
}
._3, ._5{
  border-top: 1px solid rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
